<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net461" />
  <package id="Dapper.FastCrud" version="2.5.0.39" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.23.0" targetFramework="net461" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.141.5" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net461" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>